.modal-news-header-right {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.modal-news-label {
    font-size: 15px;
    line-height: 15px;
    color: #000;
    font-weight: bold;
}

.modal-news-header-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-blue-color);
    padding-top: 10px;
    margin: 10px;
}

.modal-news-header-title>h2 {
    font-weight: bold;
    font-size: 28px;
    line-height: 24px;
    font-family: 'nib', sans-serif;
}

.full-news-modal{
    max-height: 700px;
    max-width: 1200px;
}