.ListSidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;

    flex: none;
    flex-grow: 0;
    list-style: none;
    align-self: stretch;

    margin: 0px;

}

.ListSidebar>li {
    display: flex;
}

.MainListSidebar {
    z-index: 1;
    order: 0;


}

.ListSidebar.collapsed {
    justify-content: center;
}