.ContentHeader {
    font-style: normal;
    font-weight: bolder;
    font-size: 32px;
    font-family: 'nib';
    margin: 0;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 1;
}

textarea:focus-visible {
    outline: none;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    height: 100%;
}

/* Calendar */
.calendar-body {
    margin: 15px 80px 0px 80px;
}

.rbc-month-header {
    display: flex;
    flex-direction: row;
    height: 50px;
    padding-bottom: 5px;
}

.rbc-header {
    background-color: #cdcccc ;
}

.rbc-header:nth-last-child(2), .rbc-header:last-child {
    color: #fff;
    background-color: var(--main-blue-dashed-color);
}

.rbc-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rbc-month-row:first-child {
    border-top: 1px solid #ddd;
}

.rbc-btn-group>button {
    font-weight: bold;
    border-radius: 0px!important;
    height: 40px;
    border: none;
    background-color: #D9D9D9;
}

.calendario>.rbc-toolbar>.rbc-btn-group>.rbc-active {
    background-color: var(--main-blue-dashed-color);
}

.calendario>.rbc-month-view>.rbc-month-row>.rbc-row-content>.rbc-row>.rbc-row-segment>.rbc-event.holiday-event {
    background-color: #3174ad;
}

.rbc-event, .rbc-day-slot .rbc-background-event {
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    margin: 0;
    padding: 2px 5px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

@media screen and (max-width: 1000px){
    .calendar-body {
        margin: 15px 30px 0px 30px;
    }
}

@media screen and (max-width: 750px){
    .calendar-body {
        margin: 15px 0px 0px 0px;
        padding: 0px 10px;
    }
}

.table-news{
    margin: 10px 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.40);
    max-height: 400px;
    overflow-y: scroll;
}

.table-news::-webkit-scrollbar {
    width: 8px;
}

.table-news::-webkit-scrollbar-thumb {
    background-color: #9D9D9D;
    border-radius: 6px;
}

.table-news::-webkit-scrollbar-track {
    background-color: #f1f1f100;
}

.news-summary-headers.MuiTableCell-root.MuiTableCell-head{
    text-align: center;
    color: #000;
    font-family: 'borna', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.news-summary-row{
    background: #f5f5f5;
    margin: 2px 0;
}

.news-summary-row:hover {
    background-color: #d9d9d9;
    border-radius: 10px;
}

.pointer {
    cursor: pointer;
}

.inputSearchComponent{
    height:45px;
    width:80%;
    margin: 15px 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25);
    /* padding-right: 0px !important; */
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-adornedEnd.inputSearchComponent{
    padding-right: 0px;
}

.adornment-search{
    border-radius: 5px;
    padding:10px;
    background-color: var(--main-blue-color);
    color: white;
    cursor: pointer;
}

.template-checkbox{
    font-family: 'aeonik', sans-serif;
}