/* Variables globales */
:root {
  --main-blue-dashed-color: #7C93FE;
  --main-blue-color: #5873FE;
}

@font-face {
  font-family: 'borna';
  src: url('../assets/fonts/borna/borna-medium.otf') format('opentype');
}

@font-face {
  font-family: 'aeonik';
  src: url('../assets/fonts/aeoniktrial/AeonikTRIAL-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'nib';
  src: url('../assets/fonts/nib/NibPro-Regular.woff2') format('opentype');
}

body, input, button {
  font-family: 'aeonik', sans-serif;
}

h1, h2, h3 {
  font-family: 'borna', sans-serif;
  margin: 10px;
}

body{
  overflow: hidden;
  margin: 0;
  height: 100vh;
}

#root {
  height: 100vh;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.blur-class {
  filter: blur(5px);
}

.popup-sweet {
  border-radius: 20px;
  padding: 30px;
}

.title-sweet {
  color: #000;
  text-align: center;
  font-style: normal;
  font-size: 23px!important;
  font-weight: bold;
  line-height: normal;
}

.text-sweet {
  color: #000!important;
  text-align: center;
  font-family: 'aeonik';
  font-size: 30px;
  font-style: normal;
  font-weight: 300!important;
  line-height: 22px!important;
}

.deny-button-sweet:hover, .confirm-button-sweet:hover {
  background-color: var(--main-blue-color)!important;
  color: #FFF!important;
}

.deny-button-sweet, .confirm-button-sweet {
  background-color: #FFF!important;
  border: 3px solid var(--main-blue-color)!important;
  color: #000!important;
  border-radius: 8px!important;
  font-weight: bold!important;
}