.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .weather-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:25px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .temperature {
    font-size: 50px;
    margin: 0;
  }
  
  .secondary-text {
    font-size: 20px;
    margin: 0;
  }

  .details-text {
    font-size: 18px;
    margin: 0;
  }

  @media only screen and (max-width: 500px) {
    /* .details-text {
      font-size: 14px;
    } */
    .weather-box {
      flex-direction: column;
      align-items: start;
    }
  }

  .search-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }

  .text-search-container{
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .icon-text{
    display:flex;
    align-items: center;
    gap:2px;
    margin:0;
  }