.navbar {
    position: relative;
    top: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 30px;
    gap: 221px;

    background: #ffffff;
    border-bottom: 1px solid rgb(189, 180, 166);

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    height: 10.8vh;
}

.left-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 80px;

    width: 50%;
    height: 80px;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper{
    border-radius: 20px;
    margin-top:12px;
}

.navbar-logo-container, .navbar-logo-container:hover {
    cursor: pointer;
}