.event-add-button{
    display: flex;
    width: 15%;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border-color: transparent;
    font-weight: bold;
    color: #FFF;
    background: var(--main-blue-color);
    cursor: pointer;
    margin-bottom: 6px;
}